In [1]:
import pandas as pd
import numpy as np
fname_nuclei = 'NoNeighboursNucleiNoNeighbours.csv'
fname_actin = 'NoNeighboursActinwithoutNeighbours.csv' 
fname_QC_classification = 'QC_classifier_table.csv'

In [2]:
nuclei_table = pd.read_csv(fname_nuclei)
actin_table = pd.read_csv(fname_actin)
QC_classifier_table = pd.read_csv(fname_QC_classification)

In [3]:
assert QC_classifier_table.shape[0] == nuclei_table.shape[0] == actin_table.shape[0],\
    'Nuclei, QC and Actin tables do not have the same amount of rows! DO NOT PROCEED!!!!!!!!!!!'
if QC_classifier_table.shape[0] == nuclei_table.shape[0] == actin_table.shape[0]:
    print('all tables have the same amount of rows as expected -- you can proceed!')

all tables have the same amount of rows as expected -- you can proceed!

In [4]:
nuclei_table['QC_classification'] = QC_classifier_table['class']
actin_table['QC_classification'] = QC_classifier_table['class']

In [5]:
nuclei_table.to_csv(fname_nuclei)
actin_table.to_csv(fname_actin)

In [6]:
print('you can stop here, the below cells can be used for inspection purposes!')

you can stop here, the below cells can be used for inspection purposes!

In [13]:
QC_classifier_table.shape[0]

270

In [14]:
set(QC_classifier_table.columns).intersection(set(nuclei_table.columns))

{'ImageNumber', 'ObjectNumber'}

In [15]:
nuclei_table

,ImageNumber,ObjectNumber,Metadata_Channel,Metadata_FileLocation,Metadata_Frame,Metadata_NW_XX,Metadata_NW_YY,Metadata_Series,Metadata_TileNumber,AreaShape_Area,...,Location_MaxIntensity_X_CorrDNA,Location_MaxIntensity_X_CorrYap,Location_MaxIntensity_Y_CorrActin,Location_MaxIntensity_Y_CorrDNA,Location_MaxIntensity_Y_CorrYap,Location_MaxIntensity_Z_CorrActin,Location_MaxIntensity_Z_CorrDNA,Location_MaxIntensity_Z_CorrYap,Number_Object_Number,QC_classification
0,14,1,NaN,NaN,0,10001,6001,0,39,206,...,224.0,224.0,586.0,601.0,586.0,0.0,0.0,0.0,1,positive
1,15,1,NaN,NaN,0,12001,6001,0,40,142,...,1840.0,1839.0,1658.0,1658.0,1656.0,0.0,0.0,0.0,1,positive
2,18,1,NaN,NaN,0,18001,6001,0,43,608,...,424.0,450.0,289.0,288.0,319.0,0.0,0.0,0.0,1,negative
3,19,1,NaN,NaN,0,2001,8001,0,46,369,...,1779.0,1778.0,1510.0,1509.0,1509.0,0.0,0.0,0.0,1,negative
4,20,1,NaN,NaN,0,4001,8001,0,47,228,...,454.0,456.0,1444.0,1449.0,1448.0,0.0,0.0,0.0,1,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,63,12,NaN,NaN,0,6001,18001,0,103,521,...,1883.0,1880.0,1595.0,1666.0,1623.0,0.0,0.0,0.0,12,negative
266,63,13,NaN,NaN,0,6001,18001,0,103,141,...,1894.0,1893.0,1623.0,1616.0,1608.0,0.0,0.0,0.0,13,negative
267,63,14,NaN,NaN,0,6001,18001,0,103,232,...,1845.0,1846.0,1641.0,1672.0,1674.0,0.0,0.0,0.0,14,negative
268,67,1,NaN,NaN,0,14001,18001,0,107,250,...,144.0,143.0,682.0,691.0,673.0,0.0,0.0,0.0,1,negative
269,71,1,NaN,NaN,0,12001,20001,0,117,753,...,1199.0,1185.0,728.0,727.0,726.0,0.0,0.0,0.0,1,negative

In [16]:
QC_classifier_table

     ImageNumber  ObjectNumber     class  class_number
0             14             1  positive             1
1             15             1  positive             1
2             18             1  negative             2
3             19             1  negative             2
4             20             1  negative             2
..           ...           ...       ...           ...
265           63            12  negative             2
266           63            13  negative             2
267           63            14  negative             2
268           67             1  negative             2
269           71             1  negative             2

[270 rows x 4 columns]

In [17]:
QC_classifier_table

     ImageNumber  ObjectNumber     class  class_number
0             14             1  positive             1
1             15             1  positive             1
2             18             1  negative             2
3             19             1  negative             2
4             20             1  negative             2
..           ...           ...       ...           ...
265           63            12  negative             2
266           63            13  negative             2
267           63            14  negative             2
268           67             1  negative             2
269           71             1  negative             2

[270 rows x 4 columns]

In [18]:
nuclei_table

,ImageNumber,ObjectNumber,Metadata_Channel,Metadata_FileLocation,Metadata_Frame,Metadata_NW_XX,Metadata_NW_YY,Metadata_Series,Metadata_TileNumber,AreaShape_Area,...,Location_MaxIntensity_X_CorrDNA,Location_MaxIntensity_X_CorrYap,Location_MaxIntensity_Y_CorrActin,Location_MaxIntensity_Y_CorrDNA,Location_MaxIntensity_Y_CorrYap,Location_MaxIntensity_Z_CorrActin,Location_MaxIntensity_Z_CorrDNA,Location_MaxIntensity_Z_CorrYap,Number_Object_Number,QC_classification
0,14,1,NaN,NaN,0,10001,6001,0,39,206,...,224.0,224.0,586.0,601.0,586.0,0.0,0.0,0.0,1,positive
1,15,1,NaN,NaN,0,12001,6001,0,40,142,...,1840.0,1839.0,1658.0,1658.0,1656.0,0.0,0.0,0.0,1,positive
2,18,1,NaN,NaN,0,18001,6001,0,43,608,...,424.0,450.0,289.0,288.0,319.0,0.0,0.0,0.0,1,negative
3,19,1,NaN,NaN,0,2001,8001,0,46,369,...,1779.0,1778.0,1510.0,1509.0,1509.0,0.0,0.0,0.0,1,negative
4,20,1,NaN,NaN,0,4001,8001,0,47,228,...,454.0,456.0,1444.0,1449.0,1448.0,0.0,0.0,0.0,1,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,63,12,NaN,NaN,0,6001,18001,0,103,521,...,1883.0,1880.0,1595.0,1666.0,1623.0,0.0,0.0,0.0,12,negative
266,63,13,NaN,NaN,0,6001,18001,0,103,141,...,1894.0,1893.0,1623.0,1616.0,1608.0,0.0,0.0,0.0,13,negative
267,63,14,NaN,NaN,0,6001,18001,0,103,232,...,1845.0,1846.0,1641.0,1672.0,1674.0,0.0,0.0,0.0,14,negative
268,67,1,NaN,NaN,0,14001,18001,0,107,250,...,144.0,143.0,682.0,691.0,673.0,0.0,0.0,0.0,1,negative
269,71,1,NaN,NaN,0,12001,20001,0,117,753,...,1199.0,1185.0,728.0,727.0,726.0,0.0,0.0,0.0,1,negative