In [1]:
import pandas as pd
import numpy as np
fname_nuclei = 'NoNeighboursNucleiNoNeighbours.csv'
fname_actin = 'NoNeighboursActinwithoutNeighbours.csv' 
fname_QC_classification = 'my_table.csv'

In [2]:
nuclei_table = pd.read_csv(fname_nuclei)
actin_table = pd.read_csv(fname_actin)
QC_classifier_table = pd.read_csv(fname_QC_classification)

In [5]:
nuclei_table['QC_classification'] = QC_classifier_table['class']
actin_table['QC_classification'] = QC_classifier_table['class']

In [6]:
nuclei_table.to_csv(fname_nuclei)
actin_table.to_csv(fname_actin)

0      negative
1      positive
2      positive
3      negative
4      negative
         ...
259    positive
260    positive
261    positive
262    positive
263    positive
Name: QC_classification, Length: 264, dtype: object

In [4]:
nuclei_table

,ImageNumber,ObjectNumber,Metadata_Channel,Metadata_FileLocation,Metadata_Frame,Metadata_NW_XX,Metadata_NW_YY,Metadata_Series,Metadata_TileNumber,AreaShape_Area,...,Location_MaxIntensity_X_CorrActin,Location_MaxIntensity_X_CorrDNA,Location_MaxIntensity_X_CorrYap,Location_MaxIntensity_Y_CorrActin,Location_MaxIntensity_Y_CorrDNA,Location_MaxIntensity_Y_CorrYap,Location_MaxIntensity_Z_CorrActin,Location_MaxIntensity_Z_CorrDNA,Location_MaxIntensity_Z_CorrYap,Number_Object_Number
0,1,1,NaN,NaN,0,2001,4001,0,26,438,...,1078.0,1073.0,1062.0,1035.0,1029.0,1026.0,0.0,0.0,0.0,1
1,3,1,NaN,NaN,0,6001,4001,0,28,644,...,1830.0,1834.0,1830.0,238.0,239.0,242.0,0.0,0.0,0.0,1
2,3,2,NaN,NaN,0,6001,4001,0,28,761,...,385.0,383.0,395.0,800.0,810.0,816.0,0.0,0.0,0.0,2
3,3,3,NaN,NaN,0,6001,4001,0,28,427,...,169.0,154.0,148.0,1342.0,1330.0,1324.0,0.0,0.0,0.0,3
4,3,4,NaN,NaN,0,6001,4001,0,28,514,...,1238.0,1236.0,1250.0,1368.0,1365.0,1370.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,74,7,NaN,NaN,0,10001,22001,0,138,88,...,1745.0,1745.0,1745.0,728.0,724.0,722.0,0.0,0.0,0.0,7
1373,74,8,NaN,NaN,0,10001,22001,0,138,82,...,1712.0,1703.0,1712.0,831.0,831.0,830.0,0.0,0.0,0.0,8
1374,74,9,NaN,NaN,0,10001,22001,0,138,131,...,1737.0,1739.0,1746.0,838.0,838.0,839.0,0.0,0.0,0.0,9
1375,74,10,NaN,NaN,0,10001,22001,0,138,132,...,1784.0,1771.0,1777.0,846.0,848.0,846.0,0.0,0.0,0.0,10
1376,74,11,NaN,NaN,0,10001,22001,0,138,106,...,1812.0,1807.0,1811.0,850.0,856.0,854.0,0.0,0.0,0.0,11

In [3]:
QC_classifier_table

      ImageNumber  ObjectNumber     class  class_number
0               1             1  positive             1
1               3             1  negative             2
2               3             2  positive             1
3               3             3  positive             1
4               3             4  positive             1
...           ...           ...       ...           ...
1372           74             7  negative             2
1373           74             8  negative             2
1374           74             9  negative             2
1375           74            10  negative             2
1376           74            11  negative             2

[1377 rows x 4 columns]

In [14]:
set(QC_classifier_table.columns).intersection(set(nuclei_table.columns))

{'ImageNumber', 'ObjectNumber'}