In [3]:
import pandas as pd
import numpy as np
fname_nuclei = 'NoNeighboursNucleiNoNeighbours.csv'
fname_actin = 'NoNeighboursActinwithoutNeighbours.csv' 
fname_QC_classification = 'QC_classifier_table.csv'

In [4]:
nuclei_table = pd.read_csv(fname_nuclei)
actin_table = pd.read_csv(fname_actin)
QC_classifier_table = pd.read_csv(fname_QC_classification)

In [5]:
assert QC_classifier_table.shape[0] == nuclei_table.shape[0] == actin_table.shape[0],\
    'Nuclei, QC and Actin tables do not have the same amount of rows! DO NOT PROCEED!!!!!!!!!!!'
if QC_classifier_table.shape[0] == nuclei_table.shape[0] == actin_table.shape[0]:
    print('all tables have the same amount of rows as expected')

all tables have the same amount of rows as expected

In [6]:
nuclei_table['QC_classification'] = QC_classifier_table['class']
actin_table['QC_classification'] = QC_classifier_table['class']

In [7]:
nuclei_table.to_csv(fname_nuclei)
actin_table.to_csv(fname_actin)

In [8]:
QC_classifier_table.shape[0]

212

In [9]:
set(QC_classifier_table.columns).intersection(set(nuclei_table.columns))

{'ImageNumber', 'ObjectNumber'}

In [10]:
nuclei_table

,ImageNumber,ObjectNumber,Metadata_Channel,Metadata_FileLocation,Metadata_Frame,Metadata_NW_XX,Metadata_NW_YY,Metadata_Series,Metadata_TileNumber,AreaShape_Area,...,Location_MaxIntensity_X_CorrDNA,Location_MaxIntensity_X_CorrYap,Location_MaxIntensity_Y_CorrActin,Location_MaxIntensity_Y_CorrDNA,Location_MaxIntensity_Y_CorrYap,Location_MaxIntensity_Z_CorrActin,Location_MaxIntensity_Z_CorrDNA,Location_MaxIntensity_Z_CorrYap,Number_Object_Number,QC_classification
0,1,1,NaN,NaN,0,6601,2201,0,15,345,...,1148.0,1138.0,59.0,59.0,63.0,0.0,0.0,0.0,1,negative
1,1,2,NaN,NaN,0,6601,2201,0,15,435,...,1823.0,1812.0,1485.0,1485.0,1491.0,0.0,0.0,0.0,2,negative
2,1,3,NaN,NaN,0,6601,2201,0,15,362,...,465.0,481.0,1886.0,1887.0,1885.0,0.0,0.0,0.0,3,positive
3,2,1,NaN,NaN,0,8801,2201,0,16,482,...,1749.0,1742.0,460.0,471.0,468.0,0.0,0.0,0.0,1,positive
4,2,2,NaN,NaN,0,8801,2201,0,16,377,...,1759.0,1752.0,1133.0,1144.0,1145.0,0.0,0.0,0.0,2,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,59,5,NaN,NaN,0,13201,19801,0,106,367,...,1858.0,1867.0,1484.0,1474.0,1471.0,0.0,0.0,0.0,5,positive
208,59,6,NaN,NaN,0,13201,19801,0,106,466,...,1556.0,1561.0,2013.0,2005.0,2012.0,0.0,0.0,0.0,6,positive
209,60,1,NaN,NaN,0,15401,19801,0,107,288,...,828.0,820.0,171.0,180.0,175.0,0.0,0.0,0.0,1,positive
210,60,2,NaN,NaN,0,15401,19801,0,107,457,...,565.0,544.0,335.0,336.0,333.0,0.0,0.0,0.0,2,positive
211,60,3,NaN,NaN,0,15401,19801,0,107,652,...,446.0,445.0,1262.0,1256.0,1254.0,0.0,0.0,0.0,3,negative

In [11]:
QC_classifier_table

     ImageNumber  ObjectNumber     class  class_number
0              1             1  negative             2
1              1             2  negative             2
2              1             3  positive             1
3              2             1  positive             1
4              2             2  positive             1
..           ...           ...       ...           ...
207           59             5  positive             1
208           59             6  positive             1
209           60             1  positive             1
210           60             2  positive             1
211           60             3  negative             2

[212 rows x 4 columns]